h1 {
	text-align: center;
	color: rgb(49, 115, 238);
	font: 1em
}


h2 {
	text-align: center;
	color: rgb(78, 76, 76);
}

.form {
	display: block;
	margin: 0 auto;
	text-align: center;

}

body {
	background-color: aliceblue;
}

.submit {
	appearance: button;
	background-color: #0276FF;
	border-radius: 8px;
	border-style: none;
	box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "RM Neue", sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	padding: 10px 21px;
	text-align: center;
	text-transform: none;
	transition: color .13s ease-in-out, .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.submit:active {
	background-color: #006AE8;
}

.submit:hover {
	background-color: #1C84FF;
}

#enter-link{
	line-height: 30px;
	width: 300px;
}